.main .topbar {}

.main .topbar .box_search {
    max-width: 300px;
}

.main .topbar .message {
    position: relative;
}

.main .topbar .message::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 8px;
    right: 0;
    height: 10px;
    width: 10px;
    background-color: rgb(245, 139, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}